<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Routes</h1>
    <h2>About project</h2>
    <p><a href="https://github.com/dhomini-rabelo/Employee-Management">https://github.com/dhomini-rabelo/Employee-Management</a></p>
    <h2>Admin system</h2>
    <p><a href="/admin/">/admin/</a></p>
    <h2>For API</h2>
    <h3>JWT</h3>
    <ul>
        <li>/token</li>
        <li>/token/refresh</li>
    </ul>
    <h3>JWT token required</h3>
    <ul>
        <li>/employees</li>
        <li>/employees/[ID]</li>
        <li>/departments</li>
        <li>/departments/[ID]</li>
        <li>/reports/employees/age</li>
        <li>/reports/employees/salary</li>
    </ul>
</body>
</html>